# Git
.git
.gitignore

# Environment & Secret Files
.env
.env.production
.env.local

# IDEs & Tools
.idea/
.vscode/
.agents
.gemini
.railwayignore
railway.json

# Go Build Output & Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
begmt2-test
begmt2

# Uploads and Temporary files
uploads/
test_output/
*.log

# Docker files we don't need to copy into image
Dockerfile
docker-compose.yml
